<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.dental">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_dental"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dental_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dental">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MapsActivity"
            android:label="Lokasi Klinik"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DetailHistoryActivity"
            android:label="Detail Riwayat Pendaftaran"
            android:parentActivityName=".HistoryActivity" />
        <activity
            android:name=".ChatBotActivity"
            android:label="Cari Keluhan Anda"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateProfileActivity"
            android:label="Perbarui Profil"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.Dental.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profil"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Dental.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="Riwayat Pendaftaran"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Pendaftaran Konsultasi"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>